body {
  background: #fbfbfb url('../img/subtle_dots.png');
  padding-top: 20px;
}

.navbar-inner {
  background: #333;
  background: rgba(0,0,0,.8)
}

.navbar-inner .icon {
  opacity: .8;
}

.hero-unit { 
  padding: 40px 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: solid 10px rgba(0,0,0,.25);
  background: transparent;
  border-radius: 0;
}

.footer {
  padding: 20px 0;
  margin-top: 20px;
  border-top: solid 10px rgba(0,0,0,.25);
}

h4 {
  margin: 1em 0 .5em 0;
}

.asserts li {
  padding: .25em;
}

.asserts li:hover {
  background: rgba(255,255,0,.5);
}
