body {
  background: #fbfbfb url('../img/subtle_dots.png');
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

/* disgusting hack because bootstrap specifically defines fonts on elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.navbar-inner {
  background: #333;
  background: rgba(0,0,0,.8)
}

.navbar-inner .icon {
  opacity: .8;
}

.hero-unit { 
  padding: 40px 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: solid 10px rgba(0,0,0,.25);
  background: transparent;
  border-radius: 0;
}

.division {
  padding: 30px 0 20px 0;
  margin-top: 20px;
  border-top: solid 10px rgba(0,0,0,.25);
}

h4 {
  margin: 1em 0 .5em 0;
}

.asserts li {
  padding: .25em;
}

.asserts li:hover {
  background: rgba(255,255,0,.5);
}

footer.span12 {
  margin-top: 100px;
}

/*.sidenav for Docs
-------------------------------------------------- */

/* prevent column from collapsing when affixing */
.span3 {
  min-height: 1px;
}

.sidenav {
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.sidenav > .active > a {
  background: #eee;
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
/* Chevrons */
.sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav > li:not(.active) > a:hover {
  background-color: #f5f5f5;
}
.sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.sidenav.affix {
  top: 40px;
}
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

@media screen and (min-width: 768px) {
  /* From here, start to affix the nav because we keep columns here */
  .sidenav.affix {
    position: fixed;
    top: 54px;
  }
  .sidenav {
    width: 170px;
  }
  .sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
  }
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {
  .sidenav {
    width: 220px;
  }
}

/* Large desktops and up */
@media screen and (min-width: 1200px) {
  .sidenav {
    width: 260px;
  }
}
