root                     = true

[*]
end_of_line              = lf
insert_final_newline     = true
trim_trailing_whitespace = true
charset                  = utf-8

[*.lua,*.rockspec,.luacheckrc,.luacov]
indent_style             = space
indent_size              = 3
max_line_length          = 120

# StyLua keys
collapse_simple_statement  = never
space_after_function_names = definitions

[Makefile]
indent_style             = tab

[*.bat]
end_of_line              = crlf
